.filtro {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    flex-wrap: wrap; /* Permite que os elementos quebrem para a próxima linha */
}

.filtro input, .filtro select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    flex: 1 1 200px; /* Flex-grow, flex-shrink, e flex-basis */
}

.filtro input[type="text"] {
    flex-grow: 2; /* O campo de pesquisa ocupa mais espaço */
}