body,
html {
  font-family: "Inter", sans-serif;
  height: 100vh;
  background-color: #e9e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-box {
  background-color: #f6f9fb;
  padding: 2.5rem 3rem;
  border-radius: 14px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
  max-width: 450px;
  width: 100%;
}

.login-title {
  font-size: 26px;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.login-subtitle {
  font-size: 15px;
  color: #333;
  margin-bottom: 30px;
  text-align: center;
}

form label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
  color: #000;
}

form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  background: #ffffff;
  transition: border-color 0.3s;
}

form input:focus {
  border-color: #8fc98f;
  outline: none;
}

.forgot-link {
  display: block;
  font-size: 14px;
  color: #1e272e;
  text-decoration: underline;
  margin-bottom: 25px;
}

.btn {
  background-color: #8fc98f;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  width: fit-content;
  min-width: 160px;
  display: block;
  margin: 0 auto;
}

.btn:hover {
  background-color: #7ab87a;
}

.btn-block {
  width: 100%;
}

@media (max-width: 991px) {
  .login-box {
    padding: 2rem;
  }
}

@media (max-width: 600px) {
  .login-box {
    padding: 1.5rem;
  }

  .login-title {
    font-size: 22px;
  }

  .login-subtitle {
    font-size: 14px;
  }

  .btn {
    font-size: 14px;
    padding: 10px;
  }

  form input {
    padding: 10px;
    font-size: 13px;
  }
}
