/* Estilos exclusivos da página de pagamento */

.payment-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 60vw;
    max-width: 600px;
    margin: 2rem auto;
}

/* Container do comprovante de pagamento */
.comprovante-container {
    background-color: #ffffff;
    padding: 2rem 3rem;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
}

/* Agrupamento de botões */
.comprovante-container .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

/* Estilo base dos botões */
.comprovante-container button {
    flex: 1;
    margin: 6px;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    transition: 0.3s ease;
}

/* Botão de imprimir */
.comprovante-container .imprimir {
    background: #0097e6;
    color: white;
}

.comprovante-container .imprimir:hover {
    background: #00a8ff;
}

/* Botão de envio por WhatsApp */
.comprovante-container .whatsapp {
    background: #25d366;
    color: white;
}

.comprovante-container .whatsapp:hover {
    background: #2ecc71;
}
