############################################
# 🌍 AMBIENTE
############################################
NODE_ENV=development

############################################
# 🚀 SERVIDOR
############################################
PORT=3001

############################################
# 🗄️ BANCO DE DADOS
############################################
DATABASE_URL=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/imobiliaria_dev?retryWrites=true&w=majority

############################################
# 🔐 JWT
############################################
JWT_SECRET=dev_super_secret_key
JWT_REFRESH_SECRET=dev_super_refresh_secret

JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d

############################################
# 🌐 API
############################################
API_PREFIX=/api
API_VERSION=v1

############################################
# DEV MODE
############################################
AUTH_BYPASS=true

############################################
# 🌐 CORS
############################################
FRONTEND_URL=http://localhost:5173