/* Importações externas e internas primeiro */
@import "./tokens.css";
@import "./base.css";
@import "./components.css";
@import "./utilities.css";
@import "./animations.css";

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;